<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Url stuff</h1>
    <form action="" method="POST">
        <label for="url">URL</label>
        <input type="url" name="fullUrl" id="fullUrl"></input>
        <button type="submit">Do it</button>
    </form>
    <table>
        <thread>
            <fr>
                <th>Full URL</th>
                <th>Shorterend</th>
                <th>Clicks</th>
            </fr>
        </thread>
        <tbody>
            <td><a href="https://dylanbozarth.com">https://dylanbozarth.com</a></td>
            <td><a href="aaaa"></a>aaaaaa</td>
            <td>10</td>
            9:13
        </tbody>
    </table>
</body>
</html>